<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
        <add name="MobileInterstitial" type="MobileBrowserAspNet.MobileInterstitialModule" />
    </httpModules>
  </system.web>

  <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
          <add name="MobileInterstitial" type="MobileBrowserAspNet.MobileInterstitialModule" preCondition="managedHandler" />
      </modules>
  </system.webServer>
</configuration>
