<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40" />
  <package id="PostSharp" version="3.0.8-alpha" targetFramework="net40" />
  <package id="System.Data.SQLite.x86" version="1.0.84.0" targetFramework="net40" />
</packages>